body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container .header {
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-left: 16px;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hmodal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hmodal-close-btn {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    fill: #2e2f42;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hmodal-close-btn:hover {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.hmodal-close-btn:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.nav-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:active {
    color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-current {
    color: #404bbf;
}

.mob-menu-item:not(:last-child) {
padding-bottom: 24px;
}

.mobaddress-menu-item {
    display: block;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    padding-bottom: 24px;
}

.email-menu-link {
    display: block;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-social-item {
    display: block;
    width: 40px;
    height: 40px;
}
.mob-menu-social{
    display: flex;
    gap: 40px;
    flex-direction: row;
    margin-top: 48px;
    margin-bottom: 40px;
}


/*----------------------- Navigation -----------------------*/

.navigation {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: none;

}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 17px;
    padding-bottom: 17px;
}

.accent {
    color: #2e2f42;
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.hamburgermenu-btn {
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

/* ----------------------- Hero section ----------------------- */

.hero-section {
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_m_1x.jpg);
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-wrap {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero/people-office_m_2x.jpg);
  }
}

.hero-heading {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 52px 72px;
}

.hero-btn {
    display: block;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}


/*----------------------- Solution heading hide -----------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------------------- Solutions -----------------------*/

.solutions {
    padding-top: 96px;
    padding-bottom: 96px;
}


.solution-list-item:not(:last-child)  {
    margin-bottom: 72px;
}

.solution-section-img {
    display: none;
}

/* -----------------------Our Team section -----------------------*/

.ourteam-phone {
    max-width: 296px;
}

.our-team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.person-details {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list {
    background-color: inherit;
}

.team-list-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    margin-top: 72px;
}

.team-list-image {
    display: block;
}

.team-list-heading {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.2;
    color: #2e2f42;
}

.team-list-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #434455;
}

.person-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-block-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
    fill: #f4f4fd;
}


/* -----------------------Portfolio section----------------------- */

.our-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list-item:not(:last-child) {
    margin-bottom: 48px;  
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-p {
    visibility: hidden;
}

.app-details {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-heading {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.solution-list-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.solution-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #434455;

}

/* -----------------------Footer----------------------- */

.page-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.accent-footer {
    color: #f4f4fd;
}

.page-footer-text {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: auto;
}

.footer-logo-container, .footer-social-media, .subscribe {
    display: flex   ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-items {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    widows: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-link:hover {
    background-color: #31d0aa;
}
    
.social-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}

/*----------------------- Modal----------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 0;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-close-btn:hover {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 24px;
    margin-bottom: 16px;
}

.modal-input {
    display: block;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input-wrap {
    position: relative;
    margin-bottom: 8px
}

.modal-feild-icon {
    position: absolute;
    padding: 3px 0px;
    left: 16px;
    fill: #2e2f42;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 300ms linear;
}

.modal-input-textbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    width: 100%;
    resize: none;
    outline: transparent;
    background-color: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-input-textbox:focus {
    border: 1px solid #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textbox::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-left: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field input:focus {
    border: 1px solid #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field input:focus+svg {
    fill: #4d5ae5;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    height: 56px;
    margin: 0 auto;
    border: none;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}


.check-text {
    display: inline-flex;
    font-size: 12px;
    letter-spacing: 0.04em;
    color:#8e8f99;
    line-height: 1.17;
}

.check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-span {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

    
.modal-check:checked + .check-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox {
    margin-bottom: 24px;
    margin-top: 16px; 
}

.subscribe-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;;
}

.priv-polcy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

/*----------------------- Subscribe----------------------- */

.subscribe-footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.email-input {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    line-height: 2;
    letter-spacing: 0.04em;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-btn {
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}       

.telegram-icon {
    fill: #ffff;
    margin-left: 16px;
}


/* -----------------------MEDIA----------------------- */
/* ---------------------------------------------------- */


@media screen and (min-width: 768px) {  
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

/*-----------------------HEADER (Tablet)----------------------- */

    .hamburgermenu-btn {
        display: none;
    }

    .nav-logo {
        margin-right: 120px;
    }

    .nav-menu {
        display: flex;
        gap: 40px;
    }

    .nav-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-menu .nav-menu-link:hover,
    .nav-menu .nav-menu-link:focus {
        color: #404bbf;
    }
    
    .current {
        position: relative;
        color: #404bbf;
    }
    
    .current::after {
        content: "";
        position: absolute;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: -1px;
    }

    .address {
        display: block;
    }

    .address-menu{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-menu-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-menu .address-menu-link:hover,
    .address-menu .address-menu-link:focus {
        color: #404bbf;
    }
 /* -----------------------HERO SECTION (Tablet)----------------------- */

    .hero-heading {
        font-size: 56px;
        line-height: 1.07;
        color: #fff;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }
    .hero-btn {
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .hero-section .hero-btn:hover,
    .hero-secsection .hero-btn:focus {
        background-color: #404bbf;
    }

    .hero-section {
        padding-top: 112px;
        padding-bottom: 204px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_t_1x.jpg);
        margin: 0 auto;
    
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-wrap {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/hero/people-office_d_tx.jpg);
  }
}

/* -----------------------SOLUTION SECTION (Tablet)----------------------- */

    .solution-list-heading {
        text-align: left;
    }

    .solution-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .solution-list-item {
        width: calc((100% - 24px) / 2);
    }

    /*-----------------------OUR TEAM (Tablet)----------------------- */

    .ourteam-phone {
        max-width: 584px;
   }

    .our-team {
        padding-top: 100px;
        padding-bottom: 92px;
    }

     .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: inherit;
        gap: 64px 24px;
    }
    
    .social-icon-link:hover {
        background-color: #404bbf;
    }
    
    .social-icon-link:focus {
        background-color: #404bbf;
    }

    .team-list-item {
        width: calc((100% - 24px) / 2);
    }

    .person-details {
        padding-top: 32px;
        padding-bottom: 16px;
    }

    /* -----------------------OUR PORTFOLIO (Tablet)-----------------------*/

    .our-portfolio {
        padding-top: 92px;
        padding-bottom: 96px;
    }

    .section-heading{
        text-transform: capitalize;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    /* -----------------------FOOTER (Tablet)-----------------------*/

    .page-footer-container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
    }

    .footer-logo-container {
        width: 264px;
        align-items: start;
    }

    .footer-social-media, .subscribe {
        align-items: start;
    }

    .subscribe-footer-form {
        flex-direction: row;
        gap: 24;
      
    }

    /* -----------------------HEADER (Tablet)-----------------------*/

    .modal {
        width: 408px;
        min-height: 584px;
        padding-right: 24px;
        padding-left: 24px;
    }

    .check-text {
        padding-top: 16px;
        padding-bottom: 24px;
    }

    .check-span {
        align-items: center;
        justify-content: center;
    }

    .modal-checkbox {
        margin-bottom: 24px;
    }

}


/* -----------------------MEDIA----------------------- */
/* ---------------------------------------------------- */


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }

        @media screen and (min-width: 1158px) {
            .portfolio-list-item:not(:last-child) {
                margin-bottom: 0px;    
            }
        }
    
        .hero-section {
            padding-top: 188px;
            padding-bottom: 292px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_d_1x.jpg);
            margin: 0 auto;
        
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        .hero-wrap {
        background-image: linear-gradient(
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)
          ),
          url(../images/hero/people-office_d_2x.jpg);
      }
    }

/* -----------------------HEADER (Desktop)----------------------- */

    .nav-logo {
        margin-right: 76px;
}

    .address-menu {
        flex-direction: row;
        gap: 40px;
    }


    .address-menu-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

/* -----------------------HERO SECTION (Desktop)-----------------------*/

    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        }

    .hero-heading {
        margin: 0 auto 48px auto;
     
    }

    .hero-btn {
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .hero-section .hero-btn:hover,
    .hero-secsection .hero-btn:focus {
        background-color: #404bbf;
    }


/* -----------------------SOLUTION SECTION (Desktop)----------------------- */

    .solutions {
        padding-top: 120px;
        padding-bottom: 120px;
        }

    .solution-list {
        flex-wrap: nowrap;
        }

    .solution-section-img {
        border: 1px solid #8e8f99;
        background: #f4f4fd;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        }


    .solution-list-heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;   
        }

    .solution-list-text {
        font-weight: 400;
        }

    .solution-list-item {
        width: calc((100% - 2 * 24px) / 4);
    }

    /* -----------------------OUR TEAM (Desktop)----------------------- */


    .our-team {
        padding-top: 120px;
        padding-bottom: 120px;
        
    }
    
    .person-details {
        padding-top: 32px;
        padding-bottom: 32px;
     }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: inherit;
        gap: 24px;
    }
        
    .team-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .social-icon-link:hover {
        background-color: #404bbf;
    }
        
    .social-icon-link:focus {
        background-color: #404bbf;
    }

    /* -----------------------OUR PORTFOLIO (Desktop)----------------------- */


    .our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }
    
    .section-heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    
    .portfolio-list-item {
        width: calc((100% - 2 * 24px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-list-item:hover {
        box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    
    .overlay-img {
        position: relative;
        overflow: hidden;
    }
    
    
    .portfolio-list-item:hover .overlay-p {
        transform: translateY(0%);
    }
    
    .overlay-p {
        position: absolute;
        visibility: visible;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-list-image {
        display: block;
        background-color: #4d5ae5;
    }
    
    .app-details {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    /* -----------------------FOOTER (Desktop)----------------------- */

    .page-footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }
    
    .page-footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    }
     
    .footer-logo-container {
        margin-right: 120px;
    }
    
     .subscribe {
        margin-left: 80px;
    }

}
      
    
